#products{
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.product-element{
    /* border: 2px solid rgb(82, 53, 53);
    border-radius: 5px; */
    margin: 10px 20px;
    width: 45vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    overflow:auto;
}

.title{
    font-size: 20px;
}

.wishAndCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vh;
    margin-bottom: 2vh;
}

button{
    font-size: 17px;
    padding: 1vh;
    border-radius: 4px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    width: 75vh;
}

.list{
    padding: 2vh;
}

.list button{
    font-size: 25px;
    color: black;
    border: 0cap;
}

.wishButton{
    border: 0cap;
    background-color: rgb(123, 123, 235);
    color: aliceblue;
}

.cartButton{
    border: 0cap;
    background-color: rgb(212, 145, 221);
    color: aliceblue;
}